.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1920px;
	height: 1080px;
}
.roundback {
	border-radius: 25px; 
	width: 55%;
	height: 70%;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 15px;
}
.image-container, .text-container {
	display: inline-block;
	vertical-align: middle;
}
.image-container img {
	border-radius: 25px;
}
.video-container {
	height: 560px;
}
h1 {
	color: white;
	text-transform: uppercase;
	line-height: 10px;
}
.gradient-background {
	background: linear-gradient(300deg,#8412c3,#aa5dd5,#52057c);
	background-size: 180% 180%;
	animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
